body {
	background-image: url('../img/prism.png');
	background-repeat: repeat;
	text-align: center;
}

div#container {
	background-color: white;
	display: inline-block;
}

div#header {
	vertical-align: middle;
    line-height: 40px;
    font-family: calibri;
}

#btn-restart {
	display: block;
    position: absolute;
    top: 20px;
   	text-decoration: none;
	border-radius: 2px;
    border: 0px;
	background-color: #0078e7;
	color: white;
    font-family: inherit;
    margin-left: 30px;
	zoom: 1;
	white-space: nowrap;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	-webkit-user-drag: none;
}

div#board {
	height: 512px;
	width: 512px;
	background: #cfcfcf;
	display: grid;
	grid-gap: 2px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-template-columns: repeat(3, 1fr);
}

.cell {
	width: 100%;
    height: 100%;
    background: white;
}

.cell-cross {
	position: relative;
	width: 100%;
	height: 100%;
	background: transparent;
	transform:rotate(45deg);
	-ms-transform:rotate(45deg); /* IE 9 */
	-webkit-transform:rotate(45deg); /* Safari and Chrome */
}

.cell-cross:before, .cell-cross:after {
	position: absolute;
	content: ' ';
	z-index: -1;
	background-color: red;
}
.cell-cross:before {
	left: 50%;
	width: 2%;
	margin-left: 0%;
	height: 100%;
}
.cell-cross:after {
	top: 50%;
	right: 0;
	height: 2%;
	margin-top: 0%;
	width: 100%;
}

.cell-circle {
	border: 3px solid #0bd945;
	border-radius: 50%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	opacity: 0.6;
	background: transparent;
	position: relative;
	top: 10%;

	-webkit-box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
	box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
	width: 80%;
	height: 80%;
	margin: auto;

	-webkit-transition: background-color .5s ease-in-out;
	-moz-transition: background-color .5s ease-in-out;
	-o-transition: background-color .5s ease-in-out;
	-ms-transition: background-color .5s ease-in-out;
	transition: background-color .5s ease-in-out;
}
